<div class="greetingWidget">
	<div>
		<div class="row">
			<label>Created Date:</label>
			<span>${createdTime}</span>
		</div>
		<div class="row">
			<label>Created User: </label>
			<span>${createdUser}</span>
		</div>
	</div>
	<div>
		<label>Content:</label>
		<div class="greetingContent">This is greeting's content</div>
	</div>
	<div>
		<div class="row">
			<label>Updated Date:</label>
			<span>${updatedTime}</span>
		</div>
		<div class="row">
			<label>Updated User: </label>
			<span>${updatedUser}</span>
		</div>
	</div>
</div>