<div class="MainWidget">
	<form class="${greetingClass}Wrap">
		<h2>Add new Greeting</h2>
		<label>GuestBook Name: </label><select data-dojo-attach-point="guestBookNameListNode" title="Guestbook Name"></select>
		<label>Greeting: </label><input data-dojo-attach-point="inputGreeting"  name="inputGreeting" value="${greetingContent}" placeholder="input text greeting"/>
		<input type="submit" name="btnSubmit" value="Add" />
	</form>
	<div class="${guestBookClass}Wrap">
		<h2>List Greeting</h2>
		<form id="${guestBookClass}Form">
			<input placeholder="Guestbook name" data-dojo-attach-point="inputGuestBookName" name="inputGuestBookName" value="${guestBookName}"/>
			<input type="submit" name="btnSubmit" value="Switch"/>
		</form>
		<div class="${guestBookClass}List" data-dojo-attach-point="greetingWidget"></div>
	</div>
</div>