<!DOCTYPE html>
<html>
<head>
	<title>Dojo guestbook</title>
	<link rel="stylesheet"
		  href="http://ajax.googleapis.com/ajax/libs/dojo/1.10.4/dijit/themes/claro/claro.css"/>
	<style type="text/css">
		@import "/static/stylesheets/myStyle.css";
	</style>
</head>
<body>
<h1>Guestbook - Dojo</h1>
<br>
<a href="{{ url }}">{{ url_linktext }}</a>

<script>
	var dojoConfig = {
		async: true,
		isDebug: true,
		parseOnLoad: true,
		packages: [{
			name: 'greeting',
			location: '/static/js'
		}]
	}
</script>

<!-- load dojo -->
<script src="//ajax.googleapis.com/ajax/libs/dojo/1.10.4/dojo/dojo.js"></script>

<script>
	require([
		"dojo/parser",
		"greeting/GuestBookView"
	], function (parser) {
		parser.parse();
	});
</script>

<div data-dojo-type="greeting/GuestBookView"></div>
</body>
</html>