.mainWidget{
	padding: 20px;
}

.greetingWidget{
	padding: 10px;
	border: 2px solid #4a7fa0;
	max-width: 300px;
	margin: 10px 0;
}

.greetingWidget label{
	color: #4a7fa0;
	font-size: 12px;
}

.greetingWidget span{
	color: #466980;
	background: #d4f1ff;
	border-radius: 5px;
	font-size: 12px;
	font-style: italic;
}

.greetingWidget .greetingContent{
	margin:5px;
	padding: 5px;
	background: #e6e8e8;
	font-size: 14px;
}

.guestbookList{}